.image-wrapper {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}





.neww {
  opacity: 0.99;
}

.ee:hover {
  opacity: 0;
}

.ee {
  opacity: 1;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

#ww {
  margin-bottom: 75px;
  cursor: pointer;
}